.post {
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

/* Estilizar um post que possua um OUTRO post acima dele */
.post+.post {
    margin-top: 2rem;
}

/* Estilização do conteúdo das postagens */
.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {
    color: var(--green-300);
}

/* O ">" sinaliza que irá estilizar somente o primeiro nível da tag header  */
.post>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estiliza o tempo de publicação da postagem */
.post>header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

/* Estiliza os dados do autor da postagem */
.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* 
.authorInfo {
    display: flex;
    flex-direction: column;
} */

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

/* Estiliza o formulário de comentário para dar feedback a uma postagem */
.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm>strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

/* Fazer o botão de "Publicar" desaparecer quando a textarea não for selecionada  */
.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

/* Fazer o botão "Publicar" aparecer quando textarea for selecionado */
/* :focus-within faz com que as estilizações inseridas no elemento 
seguinte (footer) sejam feita quando o focus da class .commentForm
seja ativado*/
.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;   
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.commentForm button[type=submit]:not(:disabled):hover {
    background-color: var(--green-300);
}

.commentForm button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

.commentList {
    margin-top: 2rem;
}